$black-54: rgba(0, 0, 0, 0.54);

/*
    Redefine spacing. You can now use
    these values on bootstrap classes,
    e.g. className='mb-36' would set
    bottom margin to 36px (3.6rem). For padding,
    replace 'm' with 'p' (e.g. 'pb-36')
*/
$spacer: 0.1rem;
$spacers: (
        '0': (
                $spacer * 0,
        ),
        '1': (
                $spacer * 1,
        ),
        '2': (
                $spacer * 2,
        ),
        '4': (
                $spacer * 4,
        ),
        '5': (
                $spacer * 5,
        ),
        '6': (
                $spacer * 6,
        ),
        '8': (
                $spacer * 8,
        ),
        '10': (
                $spacer * 10,
        ),
        '12': (
                $spacer * 12,
        ),
        '14': (
                $spacer * 14,
        ),
        '16': (
                $spacer * 16,
        ),
        '20': (
                $spacer * 20,
        ),
        '24': (
                $spacer * 24,
        ),
        '28': (
                $spacer * 28,
        ),
        '30': (
                $spacer * 30,
        ),
        '32': (
                $spacer * 32,
        ),
        '34': (
                $spacer * 34,
        ),
        '36': (
                $spacer * 36,
        ),
);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/variables.scss';

body {
  background: #f5f4f5;
}

.search-input {
  height: 100%;
  z-index: 20;
  background-color: white;
  box-shadow: none;
  &--focus {
    box-shadow: 0 1px 6px rgb(64 60 67 / 20%);
    background-color: white;
  }
  input {
    outline: none;
    &:focus {
      outline: none;
      box-shadow: none;
      .search-input {
        box-shadow: 0 1px 6px rgb(64 60 67 / 20%);
      }
    }
  }
  .btn {
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
  .btn-search {
    &:hover {
      i {
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }
  .btn-close {
    color: $black-54;
    box-shadow: none;
  }
}

.text-black-600 {
  color: $black-54;
}

.bg-synonym {
  background-color: rgba(108, 99, 255, 0.87);
}

.menu {
  width: 360px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5000;
  left: 0;
  background-color: white;
  transform: translate3d(-360px, 0, 0);
  transition: transform 0.35s;

  &__visible {
    transform: translate3d(0, 0, 0);
  }

  &__item {
    color: $gray-900;
    font-weight: 600;
    align-items: center;
    width: 100%;
    border-radius: 0 48px 48px 0;
    &:hover {
      background: rgba(0, 0, 0, 0.04);
      color: $gray-900;
    }
  }
  .active {
    border-radius: 0 48px 48px 0;
    background: $blue-100;
    color: $blue;
  }
}

.pointer-cursor {
  cursor: pointer;
}